* {
    margin: 0;
    padding: 0;
}


header {
    text-align: center;
    padding: 50px;
    background-color: black;
    color: white;
}

header > h1 {
    color: white;
    list-style: none;
    margin-bottom: 20px;

}

header > p > a {
    text-decoration: none;
    color: aliceblue;
}

header a:hover {
    text-decoration: 1px underline;
}

main {
    
}

main .cor{
    padding: 50px 0px 50px 0px;
    max-width: 100vh;
    font-size: 35px;

}

main .img {
    background-image: url(background001.jpg);
    width: 100%;
    background-position: center right;
    height: 70vh;
}